

.container {
    border: 1px solid black;
    width: 60%;
    margin: 10% 10% 10% 20%;
    height: 60vh;
    padding: 2%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}

.container .form-group {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
}

.container label {
    margin: 0 0 2% 0;
}

.container .form-group input {
    margin-bottom: 5%;
    width: 140%;
    padding: 2%;
    height: 25%;
}

.container .form-group .form-btn {
    width: 150%;
    height: 35px;
}
